<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930774920008-qcdj8ej9emm58k7fu85g6in6n5q0o1qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930774920008-qcdj8ej9emm58k7fu85g6in6n5q0o1qm</string>
	<key>API_KEY</key>
	<string>AIzaSyAm87B8xtUTHsYwB0ML9HzOm7V901-TG6o</string>
	<key>GCM_SENDER_ID</key>
	<string>930774920008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.timistudio.ios.evez</string>
	<key>PROJECT_ID</key>
	<string>evez-application</string>
	<key>STORAGE_BUCKET</key>
	<string>evez-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930774920008:ios:05cf9dfec611b17cf9e17d</string>
	<key>DATABASE_URL</key>
	<string>https://evez-application.firebaseio.com</string>
</dict>
</plist>